[2018-07-14 07:51] rasheedamir opened #23 "Namespace "dev" is hardcoded in the rbac CRB"
Its quite misleading with hardcoded namespace name **dev** in the CRB

[code]

https://github.com/stakater/Forecastle/blob/master/deployments/kubernetes/forecastle.yaml#L98

[2018-07-14 08:28] rasheedamir opened #24 "List apps per namespace"
As same app can be deployed in different namespaces so, to make it more understandable/readable/usable apps should be listed per namespace.

To start with we can have just one page with different sections per namespace. So, we can have a **section template** with **header** containing name of the namespace and the **body** listing the apps; just like we are showing right now.

[2018-07-14 08:41] rasheedamir opened #25 "Each page refresh must get new list of apps to be listed"
Currently forecastle pod needs to be deleted in order for new apps to be listed; which is quite cumbersome and make forecastle bit less useful!

To start with each page refresh should fetch new list of apps to be listed; so, it doesn't need restart.

[2018-07-14 08:59] #23 closed

[2018-07-14 09:02] waseem-h commented on #25
Fixed in #26

[2018-07-14 09:02] #25 closed

[2018-07-15 10:29] rasheedamir opened #29 "Icon value is wrong"
Here is the value set in the manifest:

[code]

And here is the content of `apps.json` we recieve:

[code]

Look the **Icon** value is wrong! Therefore the icon is not loaded as expected. Please add unit test for this.

[2018-07-15 11:17] rasheedamir commented on #29
This was bug in **exposecontroller** and has been already fixed by this PR: http://github.com/jenkins-x/exposecontroller/pull/125

[2018-07-15 11:17] #29 closed

[2018-07-17 13:46] hazim1093 opened #33 "Add Support for multiple paths in Ingresses"
Currently forecastle only picks apps and associates them with the first path in their ingress. We need to add functionality for forecastle to consider ingresses with multiple paths

[2018-07-19 10:19] hazim1093 commented on #24
Done by https://github.com/stakater/Forecastle/pull/32

[2018-07-19 10:19] #24 closed

[2018-07-20 06:50] waseem-h opened #34 "Multiple Forecastle dashboards"
We should allow users to deploy multiple instances of Forecastle and label them.

This way they can create custom dashboards per team for example they can have the following dashboard running simultaneously:
- **ProductTeam1**: Jenkins(Namespace: tools), App1(Namespace: p1), App2(Namespace: p1)
- **ProductTeam2**: Jenkins(Namespace: tools), App1(Namespace: p2), App2(Namespace: p2)

Although we can

[2018-07-20 06:54] waseem-h opened #35 "Overriding Group Name"
Although forecastle supports displaying apps per namespace, sometimes its not ideal to have the namespace name as the group name for certain apps.

**Proposal**
We should have an annotation for overriding the group name e.g., namespace via annotation. The default behavior will be the same e.g., the namespace name will become the group name, but for overriding we can have an annotation like `foreca

[2018-07-20 06:58] waseem-h opened #36 "Allow custom app names"
Right now we assume that the ingress name is the same as the app name. We need to allow the user to be able to control application name.

**Proposal**
We can create an annotation that can be used for specifying the app's name. The default behavior would be the same. Annotation can be something like `forecastle.stakater.com/appName`.

[2018-08-12 08:57] rasheedamir opened #40 "Different skinning of forecastle for different environments"
For prod environments I would like to have a theme/skin e.g. RED colored and GREEN for non-prod environments.

[2018-08-24 10:03] rasheedamir opened #41 "Switch to forecastle logo"
Now forecastle logo is in place; so, we should change to it instead of using stakater logo

[2018-09-08 19:25] rasheedamir opened #42 "Add support to watch all namespaces"
Add support to watch all namespaces by default

[2018-11-18 07:05] rasheedamir commented on #42
@waseem-h this seems to be implemented and working as expected?

[2018-11-19 07:10] waseem-h commented on #36
Implemented in #48

[2018-11-19 07:10] #36 closed

[2018-11-19 07:10] waseem-h commented on #41
This can be closed as the logo on the readme is of forecastle now.

[2018-11-19 07:10] #41 closed

[2018-11-19 07:11] waseem-h commented on #42
The issue with its support was fixed in #48

[2018-11-19 07:12] #42 closed

[2019-01-26 08:01] lzecca78 opened #56 "Wrong URI composition when ServicerPort is a reference to a label"
I have several ingress configured as following :
[code]

Where `servicePort` is the label defined in the service.

### what is happening ###
Forecastle is composing the uri like `http://alertmanager.examples.comweb/`.

### how it should behave ###
it should ignore the `servicePort` param because the ingress expose them in 80/443 and compose the uri like `http://alertmanager.examples.com`

[2019-01-30 14:31] lzecca78 commented on #56
is there any news about this?

[2019-01-30 14:38] kahootali commented on #56
We just released v1.0.18 that fixes this. Closing this issue as of now, please re-open if you face the issue.

[2019-01-30 14:38] #56 closed

[2019-01-30 14:43] lzecca78 commented on #56
it works perfectly now! Really thanks!

[2019-01-31 08:31] #35 closed

[2019-02-01 13:12] #40 closed

[2019-02-01 13:14] waseem-h commented on #40
Support added in #59  @rasheedamir

[2019-02-04 14:47] #34 closed

[2019-05-08 20:55] REBELinBLUE opened #62 "Log level"
Is there a way to increase the log level?

I can't figure it out, my manifests are

https://github.com/REBELinBLUE/k8s-on-hypriot/commit/d726cbbc6f3d38c4b55f9165aeb556120f106ba8 (custom build of the image to run on an raspberry pi)

but all I get in the output is

[code]

nothing on the launchpad and the /apps endpoint just returns null

[2019-05-08 21:02] REBELinBLUE commented on #62
Literally, as I posted this I discovered that you expect there to be a `kubernetes.io/ingress.class` annotation on the ingress

[2019-05-08 21:02] #62 closed

[2019-07-22 12:02] usamaahmadkhan opened #66 "Add access level mark on discovered services"
Some of the services are restricted on the corporate network for security purposes e.g. services that expose cluster info/data. There should be some kind of indication (widget) which could indicate that this service is network restricted so that the users are more aware about these services.

[2019-08-02 00:19] Nuru commented on #33
I would also like to have the ability to explicitly specify the linked path via an annotation. It is an issue right now in that I have an app where I want the Forecastle icon to take the user to `https://host/console/view` but it only goes to `https://host/`

This is somewhat similar to, but different than, the `nginx-ingress` annotation [`nginx.ingress.kubernetes.io/app-root`](https://kubernetes.

[2019-08-05 07:40] waseem-h commented on #33
This issue actually focuses on multiple paths in a single ingress. But your comment also makes sense as the root app is not always at `/`. I will see if we can add support for that @Nuru

[2019-08-05 07:52] waseem-h commented on #66
Do you have any idea on how would you approach this? Can we somehow look for NetworkPolicy or PodSecurityPolicy and add the indication based on that? Or should we just have a simple annotation that needs to be explicitly set by the user to indicate that this is a network restricted service?

[2019-08-05 07:54] waseem-h opened #67 "Ability to specify app root path"
As explained by @Nuru in another ticket:
I would also like to have the ability to explicitly specify the linked path via an annotation. It is an issue right now in that I have an app where I want the Forecastle icon to take the user to https://host/console/view but it only goes to https://host/

This is somewhat similar to, but different than, the nginx-ingress annotation nginx.ingress.kubernetes.

[2019-08-05 07:55] usamaahmadkhan commented on #66
How about adding a default check for nginx-ingress annotation. external-ingress means it is public and internal means it is network restricted.

[2019-08-05 07:58] waseem-h commented on #66
I believe that is just our usecase that we have 2 different nginx ingress controllers with specific names `internal-ingress` and `external-ingress`. Implementing it like you mentioned would restrict users to use this feature in many ways. Lets say they don't even run an nginx controller and they don't have annotations specified for their controller. I think we need to approach this in a more gener

[2019-08-05 08:00] waseem-h commented on #33
I have created a new ticket for your comment @Nuru. Its #67. Feel free to comment on it

[2019-08-05 18:05] Nuru commented on #67
Thanks, @waseem-h.  I don't actually want to set the "app root" path, I just want to specify the target of the Forecastle link. I want to keep the "app root" `/` which is why the `nginx` annotation is not sufficient.

[2019-08-06 05:32] usamaahmadkhan commented on #66
Then NetworkPolicy should do it. We should assign labels like `network-restricted=true/false` to pod that require restriction and then use `PodSelector` in NetworkPolicy to restrict those pods. Similarly watching this annotation when adding a mark on the UI.

[2019-08-06 06:22] waseem-h commented on #67
I'm a bit confused now @Nuru. What exactly do you need here? For example you have an ingress that points to example.com, what do you need to append to this ingress URL and have it as a link in forecastle? From my understanding, I thought you wanted to append something like `/admin` to the URL when showing in forecastle. If it's just appending then we can choose not to name it app-root since it's n

[2019-08-23 19:25] Nuru commented on #67
@waseem-h As I explained initially

I have since had the use case where Forecastle's link is http://host/ but I want it to be https://host/ and I had to create a fake `tls` entry in the ingress to accomplish that. I would much rather have an annotation that says something like `forecastle/link: https://host/console/view`.

I don't want to set `app-root` because I want `https://host/` to still be a

[2019-08-26 16:21] rasheedamir commented on #67
very good suggestion @Nuru; please create separate ticket for it

[2019-08-26 16:24] Nuru opened #70 "Feature request: Add arbitrary links"
Feature Request:

It would be nice if I could just explicitly add an external link (for example to PagerDuty) to a Forescatle ingress group without requiring an ingress. Forecastle puts together a nice collection of all the dynamic ingresses, but I would like to include links to external resources on the same page

[2019-08-27 07:25] waseem-h commented on #67
@Nuru makes sense now. I will update the PR with the change and will let you know once it is released

[2019-08-27 09:34] rasheedamir commented on #70
https://github.com/stakater/Forecastle/pull/71

PR in progress!

[2019-08-27 09:38] #67 closed

[2019-09-06 15:08] #70 closed

[2019-09-06 15:10] rasheedamir commented on #33
We will need to add support multiple icons

[2019-09-24 12:57] MatteoMori opened #72 "SA cannot list Ingress in namespace"
Hello guys,

I am sorry to bother but I am trying out Forecastle in my EKS cluster but I am a bit confused.

I did use the vanilla manifests approach but when accessing the UI I get these logs:

[code]

Am I missing anything?

regards,
Matteo

[2019-10-01 15:06] osterman opened #73 "Feature Request: Support Istio `VirtualService`"
Forecastle is wonderful! It's a missing piece in the kubernetes ecosystem.

## what
* Add support for the `VirtualService` CRD

## why
* Forecastle doesn't discover annotations on `VirtualService` CRDs which are used instead of `Ingress` resources to configure routing to backend services

## use-case
* We're moving microservices over to using istio for better tracing and telemetry, but still want

[2019-10-01 15:38] rasheedamir commented on #73
Great idea @osterman!

@waseem-h what are your thoughts?

[2019-10-01 15:39] rasheedamir commented on #72
@MatteoMori were you able to get it working?

[2019-10-03 06:00] waseem-h commented on #73
Its a great idea. However, I don't have much experience using istio and how VirtualService works so it might take me some time to implement support for `VirtualService`, but it is definitely something that I would like to add to forecastle. I will comment when I start working on it here

[2019-10-03 06:02] waseem-h commented on #72
Did you apply the clusterrole as well that's provided in the vanilla manifests file? @MatteoMori

[2019-10-03 06:29] marascha opened #74 "Feature Request: Display additional app info as tool tip"
We use Forecastle and really like it. I'm trying to convince other teams in our company to use it as well. It would be great to be able to display additional information on a registered app e.g. in a tool tip or something alike.

**what**
Display additional information for a registered app such as links to monitoring and tracing tools, maintainer, SLAs, image version and so on. This information co

[2019-10-03 09:07] rasheedamir commented on #73
@osterman I wonder if you would like to make a PR? And then team can assist?

[2019-10-03 09:10] rasheedamir commented on #74
Great suggestion @marascha

Would you like to create a PR? We can definitely help you get going; if you are a newbie to Go lang.

[2019-10-03 23:06] osterman commented on #73
@goruha or @aknysh might be interested in it.

[2019-10-04 06:11] marascha commented on #74
@rasheedamir I would love to.I can only do it in my leisure time and right now, I'm quite busy with other stuff. I might be able to do it sometime later like in couple of weeks...

[2019-10-04 11:53] rasheedamir commented on #74
@marascha me and @waseem-h had a discussion today and we have a plan how to implement it; and @waseem-h is going to lead the development

[2019-10-07 04:12] osterman commented on #73
@rasheedamir @waseem-h what are your thoughts on supporting a CRD instead? That way there's an escape hatch for everyone.

[2019-10-07 08:14] waseem-h commented on #73
@osterman I'm not quite sure if I understood your question exactly. But since `VirtualService` is a CRD, and once implemented, we can make it optional by a flag or something similar

[2019-10-07 13:37] goruha commented on #73
@waseem-h the idea is to have a special section in config where you define resources that should be monitoring.

like

[code]

[2019-10-07 15:26] osterman commented on #73
@goruha I had a much simpler idea in mind.

@waseem-h yes, `VirtualService` is a CRD; I'm suggesting that there is a `Forecastle` CRD (name TBD).  For example, there are a handful of service meshes today. Linkerd, HashiCorp Connect, Traefik Maesh, etc. Rather than try to add support for everything right now, maybe a generic resource that let's us get the same benefit.

My inspiration is how `exter

[2019-10-07 16:05] waseem-h commented on #73
@osterman thats a great idea. But don't you think its kind of the same as the custom apps feature? But it requires you to restart forecastle once you change the config. So, we can work on providing a CRD based on which forecastle populates the apps. The only issue I see with this approach is that you have to specify URLs again in the CRD as well, which might not be a good idea where people are usi

[2019-10-07 16:45] osterman commented on #73
@waseem-h:

Yes/no. Custom apps are great, but as implemented not helpful for this use-case. We deploy an unlimited number of staging environments for every PR/branch. We want these to be easily discoverable in Forecastle. We cannot restart forecastle each time.

[code]

Yes, this sounds like a hybrid of what @goruha proposed and where I was coming from...

 Looks reasonable to me.

[2019-10-07 20:43] Nuru commented on #73
@waseem-h If you look at the experience and evolution of Prometheus/Grafana/Alert Manager you will see the same issues ultimately resolved by creating Custom Resource Definitions (CRDs). Yes, you can configure alert rules and scrape configs and Grafana dashboards in config files, but those require you to collect everything together, put it in a file or ConfigMap, then deploy the updated configurat

[2019-10-10 12:07] waseem-h commented on #73
@Nuru yeah and based on what you said and osterman suggested, I have opted to go for CRDs.
@osterman I have an implementation ready to support `ForecastleApp` CRD. The PR is not yet finished but you can test it out by applying the chart at `https://github.com/stakater/Forecastle/tree/forecastle-crd/deployments/kubernetes/chart/forecastle` with this image: `stakater/forecastle:SNAPSHOT-PR-77-5`

Th

[2019-10-13 07:31] rasheedamir commented on #74
@marascha our initial thoughts to have new UI wireframes

![forecastle](https://user-images.githubusercontent.com/3967672/66712348-c017a680-ed9b-11e9-8b1a-049dcdb6c87c.png)

[2019-10-13 15:47] marascha commented on #74
@rasheedamir It looks perfect to me, thanks!
Key-Value Pairs in details section having an URL as value are automatically recognized as clickable links, right?

I've one more suggestion which might be interesting to you as well. The ingress could expose a comma-seperated list called autoextract or alike including the jsonpaths of specific pod values which are desired to be auto-extracted and displa

[2019-10-13 18:46] rasheedamir commented on #74
interesting thought @marascha actually we have been thinking for a while to create a separate tool which is just a visualizer of k8s manifests

but yeah this could be implemented in forecastle; @waseem-h what do you think?

[2019-10-14 10:32] waseem-h commented on #74
@rasheedamir Yeah we can definitely implement it in forecastle. But let's focus on getting the details as plain text via annotations first and once that is in place, we can add support for jsonPath or similar. @marascha Also I would encourage you to use CRDs which is our upcoming feature releasing with #77 as it will allow you to separate forcastle app config from the ingress object and instead of

[2019-10-14 11:51] #73 closed

[2019-10-14 18:55] marascha commented on #74
@waseem-h awesome. Having specific CRDs for forecastle configurations is a great idea. We'll definitely use them.

[2019-10-15 06:53] waseem-h commented on #73
@osterman Support for CRD has been released in `v1.0.30`. Please follow the readme to create `ForecastleApp` CR's and they will be picked up by forecastle

[2019-10-15 07:04] waseem-h commented on #74
@marascha you can use `v1.0.30` which has CRD support. Although it is a bit limited right now since you have to specify the URL's explicitly in the CRD. We will soon support fieldSelectors or something similar which will allow you to specify where to find the URL from. Something like:

[code]

[2019-10-15 07:19] osterman commented on #73
Rock on! @maximmi should be testing this out today.

[2019-10-15 10:25] waseem-h commented on #66
@usamaahmadkhan I think we should start from the basic, i.e., allow users to specify whether an app is network restricted or not manually. And then support automatic detection. Partial support is already in for this in #78 . We can use the annotation `forecastle.stakater.com/network-restricted` to specify if an app is restricted or not

[2019-10-15 11:25] waseem-h commented on #74
With `v1.0.32` we also have support for discovering ingress URLs using CRDs. You can use that like so:
[code]
in the `ForecastleApp` CR

@marascha

[2019-10-17 19:06] marascha commented on #74
@waseem-h Thank you very much. I'll give it a shot soon.

[2019-10-21 09:52] waseem-h commented on #66
The feature has been implemented in #80

[2019-10-21 10:02] waseem-h commented on #72
Closing. Feel free to reopen if required @MatteoMori

[2019-10-21 10:02] #72 closed

[2019-10-21 11:17] #66 closed

[2019-10-21 11:17] #74 closed

[2019-10-21 11:34] waseem-h commented on #74
@marascha We now have support for app properties / details. You can use this version: https://github.com/stakater/Forecastle/releases/tag/v1.0.34

[2019-10-21 14:56] marascha commented on #74
@waseem-h Thank you very much guys. You are awesome!

[2019-11-01 18:05] osterman commented on #73
@waseem-h sorry for the late response. This worked out marvelously!

[2019-11-18 10:47] REBELinBLUE opened #84 "Feature suggestion - Configurable header"
You already allow the header colour to be changed but it would be great if there were a way to inject more CSS, either a URL to a file or ideally as part of the configmap

[2019-11-18 11:03] rasheedamir commented on #84
Looks good idea @REBELinBLUE ! Would you like to contribute a PR?

[2019-11-18 11:04] REBELinBLUE commented on #84
I shall have a play around this evening :)

[2019-11-21 03:47] toxuin opened #85 "Inadequate defaults in values.yaml"
- Upon deployment with helm `deployment` and `service` receive irrelevant annotations with what seems to be some values internal to stakater org:

deployment:
`authproxy.stakater.com/redirection-url: https://cp.stackator.com`
service:
`config.xposer.stakater.com/Domain: "stackator.com"`
etc.

There is no other way to override those values than to edit `values.yaml` - therefore this chart cannot be

[2019-11-22 11:19] waseem-h commented on #85
Hi @toxuin . Thanks for pointing out the inconsistencies in the readme. I will try to fix them in the coming week

[2019-11-22 11:21] waseem-h commented on #85
Regarding the annotations, they need to be removed as they are not needed. I will fix it as well

[2019-12-27 14:13] davidkarlsen commented on #85
Any news here? Could you also add an ingress to the chart?

[2019-12-27 17:05] rasheedamir commented on #85
tjena @davidkarlsen @waseem-h will look into soon and get it merged

[2019-12-30 13:22] #85 closed

[2020-01-03 19:41] davidkarlsen opened #90 "fails on properties"
annotated the ingress with:
      `forecastle.stakater.com/properties: "finodsGroup=test1,applicationEnvironment=test2"`

and it fails with:
[code]

[2020-01-16 11:38] davidkarlsen commented on #90
@waseem-h any idea?

[2020-01-16 11:39] waseem-h commented on #90
It looks like a potential bug. I will see if I can reproduce it on my environment and if I can, I'll try to release a fix. Will keep you posted here @davidkarlsen

[2020-01-17 06:56] waseem-h commented on #90
@davidkarlsen can you specify the properties as `finodsGroup:test1,applicationEnvironment:test2`? I checked the code and the separator between keys and values is actually `:` and not `=` and thats why you're seeing this issue. Let me know if this works for you and feel free to re-open this if it is not fixed by the above.

[2020-01-17 06:56] #90 closed

[2020-01-17 09:32] davidkarlsen commented on #90
That works - I added a PR for slightly updating docs.

[2020-01-29 15:17] mleklund opened #92 "Group Ordering"
I have a mix of k8s ingress defined apps and CRD defined apps and group ordering seems to be random-ish.  It appears that the ingress defined apps are first, in semi-alphabetical order, then the CRD apps groups appear next and they seem to be alphabetical.

[2020-02-03 07:35] usamaahmadkhan opened #93 "Add support to add requests and limits for deployments"
- requests and limits should be set as a best practice.
- define default values as to avoid breaking change.

[2020-02-03 21:00] rasheedamir commented on #92
@mleklund so, any suggestions on ordering should be?

PR is more than welcome

[2020-02-03 21:09] rasheedamir commented on #84
@REBELinBLUE did you work on it?

[2020-02-03 21:54] REBELinBLUE commented on #84
Sorry I completely forgot about this and never got round to it

[2020-04-01 12:04] gargath opened #102 "apps is null despite ForecastleApp resource present"
Hi!

I have deployed `forecastle` pretty much along the lines of the helm chart.
My config looks like this:
[code]
I added a single `ForecastleApp` CRD to my cluster:
[code]

This app does not seem to get picked up, though. The only log lines from forecastle `Pods` are:
[code]

Meanwhile `/api/apps` returns `null`, leading the frontend to just display "Results couldn't be loaded due to an error"

[2020-04-28 19:55] rasheedamir commented on #102
Sorry @gargath ! we missed the issue; were you able to fix or not? you are welcome to ask us on slack

[2020-04-28 21:13] gargath commented on #102
I did not, I'm afraid. I've parked it for now as I haven't had time to look into it further.
Any pointers would be appreciated, but I'm also happy to reach out on Slack.

Could the problem be that I have *only* got a `ForecastleApp` and no `Ingress` annotations?

[2020-05-05 13:23] ChipWolf opened #104 "Remove invalid release 1.1.0 from tagged releases"
Release v1.1.0 is tagged last year https://github.com/stakater/Forecastle/releases/v1.1.0

The current version is v1.0.42. This is confusing a dependency tool we use into thinking the older release tagged as v1.1.0 is newer.

Thanks

[2020-05-05 13:31] kahootali commented on #104
@ChipWolf Removed, Thanks

[2020-05-05 13:31] #104 closed

[2020-05-11 18:58] ChipWolf opened #105 "Helm chart does not deploy CRD"
The helm chart does not deploy the custom resource definition.

[2020-05-11 19:15] ChipWolf commented on #102
This is probably because of #105 @gargath @rasheedamir

[2020-05-11 21:12] gargath commented on #102
I didn't use `helm`. Never touch the stuff. ;-)
The CRD is present and I have successfully added the above with `kubectl apply`.
It's just not showing up on the landing screen.

[2020-05-23 16:44] ChipWolf opened #106 "Add the ability to ignore ingress.class requirement"
Currently, Forecastle filters out ingresses if the ingress.class annotation isn't present.

In our use case, we deploy Pomerium for our authentication layer. Pomerium requires the ingress.class annotation to be absent in favour of some other specific annotations.

The services in question are still very much exposed and we wish for them to show in Forecastle.

If we set the Forecastle expose annot

[2020-05-25 06:35] hmklabs-dclow commented on #105
Looks like this is happening because of changes in Helm 3

https://helm.sh/docs/chart_best_practices/custom_resource_definitions/

tldr: remove the crd annotation `"helm.sh/hook": crd-install` and it will deploy.

[2020-07-22 20:06] challett commented on #102
+1 on this except I do use Helm, however the CRD **IS** deployed in my cluster.

Any combination of namespaceSelector results in: "Looking for forecastle apps in the following namespaces: []"

[2020-07-24 05:40] ahmedwaleedmalik commented on #105
This issue was fixed in #115

[2020-07-24 05:40] #105 closed

[2020-07-24 06:36] ahmedwaleedmalik commented on #102
@gargath @challett try omitting the `instanceName` field. It adds an additional filter for instance name to look for and in your case i am assuming no such instance exists. https://github.com/stakater/Forecastle#running-multiple-instances-of-forecastle

Let me know if this solves your issue.

[2020-07-24 07:18] #106 closed

[2020-07-24 16:49] challett commented on #102
Hey @ahmedwaleedmalik thanks for the reply.  In my testing to try to resolve this I did remove instanceName to no avail.

I am setting the following configs: `customApps, namespaceSelector.matchNames, title`.

I've also tried `namespaceSelector.any: true` instead of `matchNames` but I'm seeing that the default is true anyways.

[2020-07-24 17:16] ahmedwaleedmalik commented on #102
@challett it would be of great help if you could share the complete deployment files that you are using as is. I'll try that at my end on Monday. Will get it fixed accordingly.

P.s. share the values if you are using helm chart that

[2020-07-24 17:24] challett commented on #102
[code]

[2020-07-27 12:15] ahmedwaleedmalik commented on #102
@challett there was an issue with namespace selector and it's fixed with #118 now. Please can you try that workflow again ? I tried this with the values that you gave and it's working fine. Also, you'll have to add `crdEnabled: true` in your config so that it can poll for CRDs.

@gargath can you please verify this at your end so that we can close this issue ?

[2020-07-27 12:36] gargath commented on #102
@ahmedwaleedmalik Unfortunately I currently don't have time to revisit this.
The discussion here has given me enough context, though, to figure this out when I do, in case I still have problems.

Please go ahead and close this and thank you very much for the insights.

[2020-07-28 14:03] challett commented on #102
@ahmedwaleedmalik This is fixed for me now.  I think the readme should be updated to reflect that CRDEnabled is not true by default.  Thanks for the help!

[2020-07-29 06:07] ahmedwaleedmalik commented on #102
That's a good point @challett. I'll revisit the readme and update it accordingly.
Closing this issue for now.

[2020-07-29 06:07] #102 closed

[2020-08-05 15:18] Nuru opened #121 "Feature request: Annotate Pod template"
When Forecastle's configuration changes, it needs to be restarted to load the changes. I know Stakater's solution is [Reloader](https://github.com/stakater/Reloader), but Helm also has a [solution](https://helm.sh/docs/howto/charts_tips_and_tricks/), which is to annotate the Pod template with a checksum of the configuration.

Ideally, the Forecastle chart would do this automatically. At a minimum,

[2020-08-05 16:30] Nuru opened #122 "Use SemVer for Chart version (no "v" prefix)"
Helm Chart Versions [should follow SemVer 2](https://helm.sh/docs/topics/charts/#charts-and-versioning) standard. Versions should not have a "v" prefix. Helm Chart `apiVersion: v2` will reject Charts if their Version field starts with "v". Helm v2 works better if the Version field does not have a "v" prefix.

This is strictly about the [Chart version field](https://github.com/stakater/Forecastle/b

[2020-08-11 22:28] Nuru opened #124 "Error message on web page but nothing in logs"
Using stakater/forecastle:v1.0.54 docker image, the web page displays with header and footer, but the main panel just says:

[code]

- There is nothing in the server logs to indicate an error.
- There is nothing in the web browser console.
- Viewing all requests in the browser development tools shows all requests returned with status 200.

This makes it very hard to debug.

My guess is that it is

[2020-08-13 14:44] usamaahmadkhan opened #125 "Forecaslte page fails to load if CR points to a route that doesn't exist"
**Steps to Recreate:**
Create a CustomResource which refers to a route that doesn't exist
[code]
Forecastle UI fails to load and shows the following error:
```Results couldn't be loaded due to an error```

Error from the pod:
```error msg="An error occurred while looking for forceastle CRD apps: routes.route.openshift.io \"some-app-route\" not found" _source="filename/filename.go:22"```

**Expecte

[2020-08-13 14:46] usamaahmadkhan commented on #124
@Nuru plz refer to #125 . Can you see error in the logs mentioned there?

[2020-08-13 14:53] usamaahmadkhan commented on #121
@Nuru thanks for opening the issue. PRs are welome :)

[2020-08-13 22:00] Nuru commented on #124
When I said "There is nothing in the server logs to indicate an error" I was referring to the log output from the Pod. So no, there is no error in the logs mentioned there.

[2020-09-15 23:04] Nuru opened #128 "Need to include RBAC permissions for networking.k8s.io API"
Ingress apiVersion `extensions/v1beta1` [is deprecated and being replaced](https://kubernetes.io/blog/2019/07/18/api-deprecations-in-1-16/) with `networking.k8s.io/v1beta1`, which itself is now [deprecated and being replaced with](https://github.com/kubernetes/kubernetes/issues/90077#issuecomment-718778960) `networking.k8s.io/v1`. Forecastle needs to support the new apiVersion by both monitoring f

[2020-09-20 17:40] rasheedamir commented on #128
Thanks @Nuru can you please make a PR for this change? Also add in the ReadMe about this change

[2020-10-01 18:56] Nuru commented on #128
@rasheedamir Turns out there is a lot more to it than just adding the RBAC permission. The current code only works with the `extensions/v1beta1` API and references it explicitly. Converting it to support multiple versions of Ingress looks like a pretty big undertaking. I think you absolutely need to do it, because it is hard to switch an entire cluster over from one Ingress API to another all at o

[2020-10-05 10:27] ahmedwaleedmalik commented on #125
Fixed with #133

[2020-10-05 10:27] #125 closed

[2020-10-05 12:02] rasheedamir commented on #124
fixed

[2020-10-05 12:02] #124 closed

[2020-11-05 20:43] Nuru commented on #128
@rasheedamir do you have plans to support `networking.k8s.io/v1beta1` and `networking.k8s.io/v1` Ingresses, either by supporting all 3 versions at once or by releasing multiple versions of Forecastle, one for each version of Ingress?

[2021-02-11 21:54] Marx2 opened #138 "Chart miss possibility to define type:LoadBalancer"
There's no parameter to define LoadBalancer type IP via HelmChart.
Ideally all basic parameters could be supported, see: https://github.com/k8s-at-home/charts/blob/master/templates/chart/values.yaml

[2021-02-11 22:55] Marx2 opened #139 "App could scan services of type LoadBalancer"

[2021-03-11 20:04] ChipWolf opened #141 "Helm repo"
Just a feature request to add a proper helm repository (probably just using github pages like the majority of them)

[2021-03-30 13:03] waseem-h commented on #141
It is already in stakater-chart. Closing

[2021-03-30 13:03] #141 closed

[2021-04-09 13:28] REBELinBLUE opened #147 "v1.0.62 broken"
I have been running v1.0.62 fine for weeks, this morning when my pod restarted I started getting just 404 responses from the application. Looking at docker hub it appears someone pushed a new image to v1.0.62 yesterday so I think someone has pushed something which is broken?

Switching back to v1.0.61 or forward to v1.0.63 and it works fine again

[2021-04-09 14:03] usamaahmadkhan commented on #147
@REBELinBLUE plz upgrade to v1.0.63. We shifted to github workflows and v1.0.62 was re-pushed (image was broken) Inconvenience is regretted.
Closing this. Feel free to re-open if face issues again.

[2021-04-09 14:03] #147 closed

[2021-04-09 14:05] REBELinBLUE commented on #147
That is what I did, just thought I should report the issue as you probably didn't mean to break an existing image ;)

[2021-04-12 16:26] cubic3d opened #148 "Feature request: Dark mode"
I guess not much explanation needed nowadays ;)

[2021-04-12 21:02] davidkarlsen opened #149 "1.0.65?"
I'm seeing this chart version:
[code]
but only 1.0.63 in this repo.
Where does it come from?

[2021-05-19 11:19] madddi commented on #149
[code]

This also breaks some automatic version checks as the version number is not prefixed.

[2021-05-30 21:39] rasheedamir commented on #149
@ahmedwaleedmalik please take a look

[2021-05-30 21:41] rasheedamir opened #157 "FR: Add Expand All / Collapse All buttons"
As by default it's expanded and if the list is very large it becomes quite cumbersome to go through the list; so, we should add `expand all` and `collapse all`

[2021-05-31 17:48] davidkarlsen commented on #149
Try running stakater/forecastle:v1.0.65 - it will spit out random binary garbage and can't be tracked back to a release, so it looks suspicious like a supply chain attack.

[2021-06-01 05:31] usamaahmadkhan commented on #149
That was because the pipeline got messed up previously and it wrongly missed the frontend wrapper and pushed the image. I have removed that chart from repository. v1.0.64 is the latest usable chart.

[2021-06-01 07:52] davidkarlsen commented on #149
Maybe the image should be removed too as it is not working and looks suspect

[2021-06-01 07:55] usamaahmadkhan commented on #149
Removed the image as well. you might have it locally. Closing. Feel free to open if needed.

[2021-06-01 07:55] #149 closed

[2021-07-06 07:39] angelnu opened #159 "Feature request - add apps by default"
Great app - considering to replace Homer. I would like to propose a differentiating feature when compared to Homer and similar apps that do not monitor the k8s control plane.

Currently it is necessary to add the `forecastle.stakater.com/expose` annotation to each ingress. This makes easy to forget adding new applications to forecastle. It also makes it similar to other apps where I have to manual

[2021-07-07 10:34] cubic3d commented on #159
In case of multiple ingress controllers that would also need an option to filter by class for this feature.

[2021-07-26 11:21] alfsch opened #163 "Helm forecastle 1.0.65 CustomResourceDefinition "forecastleapps.forecastle.stakater.com" is invalid"
When I apply the helm chart 1.0.65 with CRD on a fresh and empty kubernetes 1.19.11 cluster I get the following errors

[code]
I can fix this errors by changing the CRD in the following way:

[code]

The lines with the comments are my quick workarounds to get things deployed and running.

[2021-08-03 18:47] carpenike commented on #163
Also have the same error on my side with k8s v1.21.2

[2021-08-16 15:04] sherifkayad commented on #163
I also seem to have the same error when installing Forecastle newly to a new k8s 1.21+ cluster. The solutions proposed by @alfsch seem to fix it for me.

@ahmedwaleedmalik I'm happy to submit a PR to fix this .. I guess that's also related to a previous PR (#155)

[2021-08-17 04:03] #163 closed

[2021-09-14 08:01] danielwegener commented on #92
IMO: generally alphanumerical, case-insensitive (collation not required or system locale), maybe primary sorted by an "order" annotation, secondary by group name.

[2021-09-19 23:38] servo1x opened #171 "bug: Forecastle crd spec.urlFrom.ingressRef.name does not work"
We're using Forecastle v1.0.68, everytime we try to apply the forecastle crd with `spec.urlFrom.ingressRef.name: xxx`, it gets ignored.

Attempt:

[code]

After it gets applied:

[code]

[2021-09-20 02:08] servo1x opened #172 "Add support for changing the page title"
Since the page header is configurable, the page title should be configurable as well.

[2021-10-01 12:32] Hounddog commented on #171
I have added a pull Request for this issue #176

[2021-10-18 14:45] runningman84 opened #183 "Migrating from ingress networking.k8s.io/v1beta1 to /v1"
Please update your chart, right now it is not working with k8s 1.22 or newer:

https://blog.hycorve.com/migrating-from-ingress-networking-k8s-io-v1beta1-to-v1/

[2021-11-13 22:38] runningman84 commented on #183
just take a look at this pr:
https://github.com/stakater/Forecastle/pull/174

[2021-12-13 11:58] davidkarlsen commented on #183
Any news? Install fails with:
[code]

[2021-12-15 18:24] davidkarlsen commented on #171
Fixed in #184.

[2021-12-15 18:24] #171 closed

[2021-12-20 20:08] rasheedamir commented on #183
we just fixed the pipeline; @davidkarlsen and @runningman84 can you plz test again?

[2021-12-20 21:40] davidkarlsen commented on #183
@rasheedamir it seems it was actually released. so I don't think we can re-run it.

[2021-12-21 11:01] aslafy-z commented on #183
I've seen that `ingressClassName` field is missing in the Ingress Spec. It should not be a blocker but still, this field needs to be added.

[2021-12-21 11:27] davidkarlsen commented on #183
fancy doing a pull-request for it?

[2021-12-21 21:40] faizanahmad055 commented on #183
@davidkarlsen Can you please review this: #188

[2021-12-21 21:48] faizanahmad055 commented on #172
@servo1x Can you please elaborate the requirement

[2021-12-22 09:23] aslafy-z commented on #183
@faizanahmad055 Awesome, I was about to open a PR but you did it before me :+1:
I guess this issue can now be closed.

[2021-12-22 10:12] faizanahmad055 commented on #183
#188 and #174 fixes this

[2021-12-22 10:12] #183 closed

[2022-01-01 05:39] servo1x commented on #172
Hi @faizanahmad055 - we should be able to set the page title: https://github.com/stakater/Forecastle/blob/c21fd90367d60c368e5b9ef12431fe0d4b5eea3b/frontend/public/index.html#L12

[2022-01-12 13:17] aslafy-z commented on #128
Can I take the task?
Are we ok to drop support for extensions Ingresses?

[2022-01-20 20:50] rasheedamir commented on #128
sure @aslafy-z we welcome PRs

[2022-01-24 12:52] #128 closed

[2022-03-09 09:58] rodrigo14miguel opened #198 "Feature request - change forcastle root path"
**Feature**
Ability to change forecastle app root path

**Use case**
Serve several instances of forecastle under the same FQDN but through different paths.

**Current issue**
I have tried doing URL path rewrite through ingress controller, something like exposing one forecastle instance through **example.com/firstinstace**. When opening this URL in the browser, it tries some GETs of assets and favi

[2022-04-26 14:31] servo1x opened #200 "Add link to group"
It would useful to be able to link to a group.

[2022-04-30 22:50] michas2 opened #202 "Results couldn't be loaded due to an error"
I installed forecastle using `helm install forecastle stakater/forecastle`.

When I access the web interface I only get "Results couldn't be loaded due to an error".
There is no error shown in `kubectl logs`.

What might be wrong? Is there a way to debug further?

[2022-05-01 14:16] michas2 commented on #202
From what I see, the `api/apps` endpoint simply return `null`.
Looks like the `AppsHandler` in the backend is unhappy, but for some reason does not log any error message.
I'm not sure how to debug this any further without major effort.

[2022-05-17 13:17] #93 closed

[2022-06-19 16:41] c-dst opened #206 "Feature Request : Traefik IngressRoute / IngressRouteTCP"
Hello,

First thanks for the app, it's very usefull for us.

We migrate our cluster to traefik CRDs ingressroute* and we saw that they aren't be supported.

It would be great to add this feature. We don't dev in go otherwise i would submit a PR

Thanks.
Chris

[2022-06-25 22:31] davidkarlsen opened #207 "broken pipe when many apps"
We consistently get:

[code]

in the log, and forecastle is unable to respond when there is a lot of apps in the cluster.

[2022-07-01 14:57] davidkarlsen commented on #207
This turned out to be a missing tuning of ingress, if I add
[code]

it will be ok.

But it is really because the implementation is not optimal as it does a O(N) for discovering things per ingress "row by row" which is slow.

[2022-08-14 21:10] muammercakir commented on #202
I have the same issue with the latest helm chart version 1.0.97.

[2022-09-19 10:01] igorcoding commented on #202
I'm stuck with the same issue. Is there any solution to this?

[2022-09-19 11:22] igorcoding commented on #92
I think there should be a way to manually specify the groups ordering via config.

[2022-09-22 15:21] Xide commented on #202
I encountered the same issue after a fresh Forecastle install.
The issue for me was that had not configured any ingress with a `forecastle.stakater.com/expose` annotation yet.
After adding this annotation to an ingress, the error message was gone.

[2022-09-27 20:44] karl-johan-grahn opened #266 "Support searching from anywhere"
I would like to search for applications without having to put the cursor in the search box, it should automatically focus on search box as soon as someone types text on the page. Also, there should be a cross in the search box to clear the box quickly.

[2022-10-18 23:56] #206 closed

[2022-11-14 09:31] aaaaahaaaaa opened #285 "no matches for kind "Route" in version "route.openshift.io/v1""
Installation from the manifest:
[code]

Results in the following error:
[code]

The documentation makes no mention of OpenShift. The dependency should be clearly highlighted.

[2022-11-28 09:01] slamer59 opened #292 "Deploy and remove from the launchpad"
Hello,
sometime we don't need an application to run all day long but just to launch it from time to time and remove if from kubernetes.

I wonder if we can implement a function that keep definition of an application and deploy it when needed. And destroy it when log off ?

Regards